<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="font-size: 25px;">
      User Information
    </ion-title>
    <ion-button color="danger" (click)="edit()" *ngIf = "!hasclicked" slot="end"> <ion-icon name="create"></ion-icon></ion-button>
    <ion-button color="danger" (click)="edit()" *ngIf = "hasclicked">Back</ion-button>

  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <!--TODO make this list show only if not owner-->
  <ion-list *ngIf = "!hasclicked">
        <ion-item color="dark"> 
          <ion-label> Name: 
            {{name}}
          </ion-label>
        </ion-item>
        <ion-item color="dark"> 
          <ion-label> Weight: 
            {{weight}}
          </ion-label>
        </ion-item>
        <ion-item color="dark"> 
          <ion-label> Gender: 
            {{gender}}
          </ion-label>
        </ion-item>
        <ion-item color="dark"> 
          <ion-label> Skill Level: 
            {{level}}
          </ion-label>
        </ion-item>
  </ion-list>

  <!--show the User information-->
  <form [formGroup]="new_item_form" (submit)="editInfo(new_item_form.value)" *ngIf = "hasclicked">
      <ion-item color="dark">
        <ion-label color="primary" position="floating" >Your Name</ion-label>
        <ion-input placeholder={{name}} type="text" formControlName="name" required></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label color="primary" position="floating">Your weight</ion-label>
        <ion-input placeholder={{weight}} type="number" formControlName="weight" required></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label color="primary" position="floating">Your gender</ion-label>
        <ion-input placeholder={{gender}} type="text" formControlName="gender" required></ion-input>
      </ion-item>
      <ion-item color = "dark">
        <ion-label>Skill Level</ion-label>
        <ion-select formControlName="level" required>
          <ion-select-option value="Beginner">Beginner</ion-select-option>
          <ion-select-option value="Intermediate">Intermediate</ion-select-option>
          <ion-select-option value="Expert">Expert</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button color="danger" class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Edit</ion-button>
  </form>    
</ion-content>
