<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons>
            <ion-button class="submit-btn" type="submit" (click)="goBack()"slot = 'start'>
              Back
            </ion-button>
          </ion-buttons>
      <ion-title style="font-size: 25px;">
       {{day.day}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
      <h1 *ngIf="restday" style="text-align: center">REST DAY</h1>
      <ion-img *ngIf="restday" [src]="restdaygif"></ion-img>
      <ion-list>
          <ion-item *ngFor="let exercise of newWorkouts"color="dark">
              <ion-thumbnail>
                  <ion-img [src]="exercise.gif"></ion-img>
                </ion-thumbnail>
                
            <ion-grid>
                <ion-row>
                  <ion-col align-self-start >
                      Exercise <br/> {{exercise.name}}
                      <br/>
                  </ion-col>
                  <ion-col align-self-end size = "5" style="text-align: center">
                      {{exercise.setNum}} Sets 
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-item>
      
        </ion-list>
  

  </ion-content>