<ion-header>
  <ion-toolbar  color="danger">
    <ion-title>Monday</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
    <ion-list >
        <ion-item  color="dark">
            <ion-label stacked class="my-label"><div class="head">Exercise 1 </div>
              Bench Press</ion-label>
              <p style="text-align: right"> 0/3 completed</p>
              

            </ion-item>

          <ion-item color="dark">
              <ion-label stacked class="my-label"><div class="head">Exercise 2 </div>
               Incline Dumbell Press
              </ion-label>              
              <p style="text-align: right"> 0/4 completed</p>
            </ion-item>
            
            <ion-item  color="dark">
                <ion-label stacked class="my-label"><div class="head">Exercise 3 </div>
                  Chess Fly</ion-label>
                  <p style="text-align: right"> 0/4 completed</p>

            </ion-item>
    </ion-list>
</ion-content>
