<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="font-size: 25px;">
      Today's Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <h1 *ngIf="restday" style="text-align: center">REST DAY</h1>
  <ion-img *ngIf="restday" [src]="restdaygif"></ion-img>

<ion-list>
    <ion-item *ngFor="let exercise of exercisesArray" (click)="exerciseDetail(exercise)" color="dark">
      <ion-grid>
          <ion-row>
            <ion-col align-self-start >
                Exercise <br/> {{exercise.name}}
                <br/>
            </ion-col>
            <ion-col align-self-end size = "5" style="text-align: center">
                {{exercise.counter}}/{{exercise.setNum}} Completed 
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>
