<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="font-size: 25px;">
      Today's Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list>
      <ion-item *ngFor="let exercise of exercises" (click)="exerciseDetail(exercise)" color="dark">
            <ion-label position="stacked">Exercise 1</ion-label>
            <p>
              {{ exercise.name }} <br/>
              {{ exercise.setsDone }}/{{ exercise.sets.length }} completed
            </p>
      </ion-item>
    </ion-list>

</ion-content>
