<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="font-size: 25px;">
      Today's Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
<ion-list>
    <ion-item *ngFor="let exercise of exercises" (click)="exerciseDetail(exercise)" color="dark">
        <ion-row>
        <ion-col text-left> <strong> Exercise {{ exercise.Set }} </strong><br/> {{exercise.name}} </ion-col>
        
      </ion-row>
      <ion-row text-right>
        <ion-col></ion-col>
          <ion-col text-right> <strong> {{ exercise.setsDone }}/{{ exercise.sets.length}} Completed </strong>   </ion-col>
      </ion-row>
     
    </ion-item>
  </ion-list>
</ion-content>
