<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="font-size: 25px;">
      Week Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list >
        <ion-item color="dark" (click)="exerciseDetail(exercise)">
            <ion-label stacked class="my-label"><div class="head">Monday </div>
              </ion-label>
              <p style="text-align: right"> 3 Exercises</p>
            </ion-item>

          <ion-item color="dark" (click)="exerciseDetail(exercise)">
              <ion-label stacked class="my-label"><div class="head">Tuesday </div>
             
              </ion-label>              
              <p style="text-align: right"> 3 Exercises</p>
            </ion-item>
            
            <ion-item color="dark" (click)="exerciseDetail(exercise)">
                <ion-label stacked class="my-label"><div class="head">Wensday </div>
                  </ion-label>
                  <p style="text-align: right"> 4 Exercises </p>

            </ion-item>

            <ion-item color="dark">
                <ion-label stacked class="my-label"><div class="head">Thursday </div>
                  
                  </ion-label>
                  <p style="text-align: right">Rest Day</p>

            </ion-item>
            <ion-item color="dark">
                <ion-label stacked class="my-label"><div class="head">Friday </div>
                  </ion-label>
                  <p style="text-align: right"> 3 Exercises</p>

            </ion-item>
            <ion-item color="dark">
                <ion-label stacked class="my-label"><div class="head">Saturday </div>
                  </ion-label>
                  <p style="text-align: right"> 3 Exercises</p>

            </ion-item>
            <ion-item color="dark">
                <ion-label stacked class="my-label"><div class="head">Sunday </div>
                  </ion-label>
                  <p style="text-align: right"> Rest Day  </p>

            </ion-item>
    </ion-list>
</ion-content>
