<ion-header>
  <ion-toolbar color="danger">
    <ion-title style="font-size: 25px;">
      Week Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list >
        <ion-item *ngFor="let week of weekly" (click)="exerciseDetail(exercise)" color="dark">
          
            <ion-grid>
            <ion-row>
              <ion-col align-self-start >
                  {{week.day}}
                  <br/>
              </ion-col>
              <ion-col align-self-end size = "5" style="text-align: center">
                  {{week.workout.length}} Exercises 
              </ion-col>
              <ion-col align-self-center size="5">
                  {{week.workoutType}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
