<ion-header>
  <ion-toolbar color = "danger">
  	<ion-buttons slot="start">
      <ion-button (click)="goBack()">Back</ion-button>
    </ion-buttons>
    <ion-title>Sign-Up Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color = "dark">
  <ion-slides pager="true">
    <ion-slide>
      <ion-list inset="false" lines = "full" size="">
          <ion-button color="danger" class="submit-btn" expand="block" (click)="generatePlan()">test Plan Gen</ion-button>
          <ion-img [src]="imgfile"></ion-img>
          <br/>
          <ion-item color="black"></ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked" >Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
      </ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>
      </ion-list>

    </ion-slide>
      <ion-slide>
        <ion-list>
            <ion-item color = "danger"><ion-label>Personal Information</ion-label></ion-item>
            <ion-item color = "black"></ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked">Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.name"required></ion-input>
      </ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked">Age</ion-label>
        <ion-input type="number" [(ngModel)]="user.age" required></ion-input>
      </ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked">Height</ion-label>
        <ion-input type="number" [(ngModel)]="user.height" required></ion-input>
      </ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked">Weight</ion-label>
        <ion-input type="number" [(ngModel)]="user.weight" required></ion-input>
      </ion-item>
      <ion-item color = "medium">
        <ion-label color="danger" position = "stacked">Gender</ion-label>
        <ion-select [(ngModel)]="user.gender" required>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item color = "medium">
          <ion-label color="danger"  position = "stacked">Availabilty </ion-label>
          <ion-select [(ngModel)]="user.avail" multiple="true" required placeholder="Select All that Apply">
            <ion-select-option value="Monday">Mon</ion-select-option>
            <ion-select-option value="Tuesday">Tues</ion-select-option>
            <ion-select-option value="Wednesday">Wednesday</ion-select-option>
            <ion-select-option value="Thursday">Thurs</ion-select-option>
            <ion-select-option value="Friday">Fri</ion-select-option>
            <ion-select-option value="Saturday">Sat</ion-select-option>
            <ion-select-option value="Sunday">Sun</ion-select-option>
          </ion-select>
        </ion-item>
    <ion-item color = "medium">
      <ion-label color="danger" >*Overall</ion-label>
      <ion-select [(ngModel)]="user.c_overall" required>
        <ion-select-option value="Beginner">Beginner</ion-select-option>
        <ion-select-option value="Intermediate">Intermediate</ion-select-option>
        <ion-select-option value="Expert">Expert</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color = "dark"> </ion-item>
  <ion-button color="danger" class="submit-btn" expand="block" type="submit" (click)="signup()">Sign up</ion-button>
  </ion-list>
  </ion-slide>
</ion-slides>

</ion-content>
