<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons>
          <ion-button class="submit-btn" type="submit" (click)="goBack()"slot = 'start'>
            Back
          </ion-button>
        </ion-buttons>
    <ion-title style="font-size: 40px;color: silver;">{{name}}</ion-title>  <!--This takes in a Exercise.name From Tab1 -->
  </ion-toolbar>

</ion-header>

<ion-content color="dark">
    <ion-list >
        <ion-item color="dark">
            <ion-label stacked class="my-label"><div class="head">Set 1 </div>
              Reps:12   Weight:135</ion-label>
              <ion-checkbox color="success" [(ngModel)]="set.c1"></ion-checkbox>   
            </ion-item>

          <ion-item color="dark">
              <ion-label stacked class="my-label"><div class="head">Set 2 </div>
                Reps:12   Weight:135</ion-label>
                <ion-checkbox color="success"  [(ngModel)]="set.c2" ></ion-checkbox>   
            </ion-item>
            
            <ion-item color="dark">
                <ion-label stacked class="my-label"><div class="head">Set 3 </div>
                  Reps:12   Weight:135</ion-label>
                <ion-checkbox color="success" [(ngModel)]="set.c3"></ion-checkbox>   
            </ion-item>


    </ion-list>
    <ion-button expand="block" color="danger" (click)="done()">Done With Exercise?</ion-button>

  

</ion-content>
